#content_chapter_list {
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#content_chapter_list > ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.hide {
  display: none;
}

#chapter_filters {
  display: flex;
  gap: 20px;
  margin: 10px 0px 10px 0px;
  width: 100%;
}

#chapter_filters input[type="checkbox"] { display: none; }

#chapter_filters input[type="checkbox"] + label {
  /* display: block; */
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  cursor: pointer;
}

#chapter_filters input[type="checkbox"] + label:last-child { margin-bottom: 0; }

#chapter_filters input[type="checkbox"] + label:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #f75392;
  position: absolute;
  left: 0;
  top: 0;
  opacity: .6;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}

#chapter_filters input[type="checkbox"]:checked + label:before {
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.opt_blocked + label {
  opacity: 50%;
}

#chapter_filters input[type="checkbox"].opt_blocked + label:before {
  border: 1px solid #3c3b3b;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}


