/* === DARK MODE BTN === */

#theme {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    transition: background 0.2s linear;
    position: relative;
    box-sizing: border-box;
  }

.viewMode {
    box-sizing: border-box;
    opacity: 0;
    /* position: absolute; */
  }
  
  .label {
    width: 30px;
    height: 15px;
    background-color:#111;
    display: flex;
    border-radius:50px;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    transform: scale(1.5);
  }
  
  .ball {
    width: 11px;
    height: 11px;
    background-color: #dcdcdc;
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
  }
  
  /*  target the elemenent after the label*/
  .viewMode:checked + .label .ball {
    transform: translateX(15px);
  }
  
 .darkMode_lbl {
    background-color: #dcdcdc
 }
 .darkMode_ball {
    background-color:#111;
 }

 /* === DARK MODE CONTENT === */

.darkMode_I {
    background-color: #121212;
}

#content.darkMode_II > * {
    background-color: #292929;
    color: #dcdcdc;
}

.assignments.darkMode_III li {
    background-image: url(../media/assignment.png);
    filter: invert(60%) sepia(66%) saturate(1994%) hue-rotate(218deg) brightness(99%) contrast(101%);
}

.chapter_list_item .progress > ul > li.stop_quiz.darkMode_IV{
    border-color: rgb(255, 156, 42);
}

.expand_compress.darkMode_V img {
    filter: invert(56%) sepia(0%) saturate(2%) hue-rotate(64deg) brightness(97%) contrast(93%);
}

.expand_compress.darkMode_V {
    border-color: #8a8a8a;
}

.chapter_list_item .progress > ul >li.status_complete.darkMode_VI{
    background-color: #bb86fc;
}

.progress.darkMode_VII ul > li.status_default {
    border-color: #6f6f6f;
}

.progress.darkMode_VII ul > li.status_complete {
    border-color: #bb86fc;
}

.progress.darkMode_VII ul > li.status_complete.status_question,
.progress.darkMode_VII ul > li.status_default.status_question {
    background-color: rgb(255, 62, 204);
    border-color: rgb(255, 62, 204);
}

.chapter_list_item ul.section_list > .section_item .unit_item.darkMode_VI .question_mark,
#modal.darkMode_XII .checks.status_question .question_mark {
    background-color: rgb(255, 62, 204);
}

.chapter_list_item .assignments.darkMode_III > ul > li.status_complete{
    filter: invert(100%) sepia(0%) saturate(644%) hue-rotate(177deg) brightness(92%) contrast(88%);
    background-color: #6a5d79;
}

.ready.darkMode_VIII {
    background-color: #3c3c3c;
}

.section_item.unlocked.darkMode_IX {
    background-color: #474747;
  }

  .section_item.unlocked.darkMode_IX ul > * {
    border-color: #8a8a8a;
    color: #dcdcdc;
}

.darkMode_IX .darkMode_VI div.icon {
    background-color: transparent;
    border-color: #d1acff;;
}

.darkMode_IX .darkMode_VI.status_complete div.icon,
.darkMode_IX .darkMode_VI.status_complete div.quiz_progress .answered_correct {
    background-color: #d1acff;
    border-color: #d1acff;
}

.darkMode_IX .darkMode_VI div.quiz_progress .answered_no,
.darkMode_X.unit_item > .content .answered_no {
    border-color: #6f6f6f
}

.darkMode_IX .unit_item > .content::after {
    filter: invert(81%) sepia(63%) saturate(3772%) hue-rotate(338deg) brightness(102%) contrast(101%);
}

.darkMode_X.unit_item > .content .icon {
    background-color: transparent;
    filter: invert(60%) sepia(66%) saturate(1994%) hue-rotate(218deg) brightness(99%) contrast(101%);
    border: 1px solid #d1acff;
}

.chapter_list_item.expanded.darkMode_XI {
    background-color: #3c3c3c;
}

#modal.darkMode_XII {
    background-color: #3c3c3c;
}

#modal.darkMode_XII .content {
    background-color: #3c3c3c;
    color: #dcdcdc;
}

#modal.darkMode_XII .content .options .option {
    border-color: #dcdcdc;
}

#modal.darkMode_XII .content textarea {
    background-color:#292929;
    color: #dcdcdc;
}

#modal.darkMode_XII .content .checks.status_complete > .content, 
#modal.darkMode_XII .content .checks.status_complete {
    background-color: #d1acff;
}

#modal.darkMode_XII .content .checks.status_complete,
#modal.darkMode_XII .content .checks {
    border-color: #d1acff;
}

#modal.darkMode_XII .checks:not(.checks.status_complete) * {
    color: #dcdcdc;
}

#modal.darkMode_XII .content #quiz_navigation .question_navigation.answered_correct .number .content,
#modal.darkMode_XII .content #quiz_page .option.correct .content {
    background-color: #d1acff;
    color: #3c3c3c;
}

#modal.darkMode_XII .content #quiz_navigation .question_navigation .number {
    border-color: #dcdcdc7b;
}

#content_course_open.darkMode_XIII > .weekly_progress .units_by_chapters .chapter-unit.check_complete {
    background-color: #d1acff;
    /* border-color: #d1acff; */
}

#content_course_open.darkMode_XIII > .course_info > .canvas_link a {
    color: #dcdcdcb7;
    transition: 0.3s;
}

#content_course_open.darkMode_XIII > .course_info > .canvas_link a:hover {
    color: rgb(255, 156, 42);
}

#content_course_list_and_users_admin_button.darkMode_XIV > #content_course_list.expanded > ul > * {
    background-color: #343434;
    color: #d1acff;
}

#content_course_list_and_users_admin_button.darkMode_XIV > #content_course_list.expanded .expand_course_selector,
#content_course_list_and_users_admin_button.darkMode_XIV > #content_course_list > ul {
    background-color: #d1acff;
}

