#filterBtnsContainer {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#filterBtnsContainer > button {
    position: relative;
    width: 18%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btnCircle {
    position: absolute;
    right: 5px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 1px solid transparent;
    transition: border 0.2s ease-in-out, background-color 0.5s ease-in-out;
}

.Filteractive > .btnCircle {
    border: 1px solid var(--color_back_1);
    background-color: var(--color_back_1);
}