
body {
  margin: 0;
  background-color: var(--color_back_2);
  color: var(--color_accent_2);
  transition: color 500ms cubic-bezier(0.075, 0.82, 0.165, 1), background-color 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
  overflow: hidden;
  height: 100vh;
}

#body.darkmode{
  --color_accent_1_overlay: rgba(174,174,174,.5);
  --color_overlay_dark: rgba(30,30,30,.8);
  --color_overlay_light: rgba(42, 36, 36, 0.8);
  
  --color_back_0: #a8c2c6; /*#9cacae;*/
  --color_back_1: #454143; /*#c5c7cc; */
  --color_back_2: #211e1f; /* #acb7b6; */
  --color_back_2B: #504a4c; /* #acb7b6; */
  --color_accent_0: #838380;
  --color_accent_1: #e5d0dd;
  --color_accent_2: #fbc7e3;
  --color_accent_question: #b68904;
  --color_accent_completed_unit: #6b00a6; /* #97a871; */ /* #7a963b; */
  --color_accent_completed_general: #6b00a6; /* #97a871; /* #7a963b; */
  --color_accent_incorrect: #dd99b4; /* #901e4a; */
  --color_accent_quiz: #7311b5;
  --color_accent_correct: #334208;
}

#wrapper {
  --padding: var(--wrapper_pad);
  position: relative; /* Modal, Editor Origin */

  padding: var(--padding);
  display: flex;
  flex-direction: column;

  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

#content {
  --width_padding: 15px;
  display: flex;
  gap: var(--general_gap);
  flex-direction: column;
}
#content > * {
  background-color: var(--color_back_1);
  padding-left: var(--width_padding);
  padding-right: var(--width_padding);
  transition: background-color 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

#content_header {
  flex-basis: var(--content_header_height);

  border-top-left-radius: var(--general_border_radius);
  border-top-right-radius: var(--general_border_radius);

  display: flex;
  align-items: center;
}

#content_main {
  display: flex;
}

#content_main > #notes_div{
  overflow: hidden;
  padding: 0px;
  flex-grow: 0;
  width: 0%;
  transition: flex-grow 200ms cubic-bezier(0.075, 0.82, 0.165, 1), width 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#content_main > #notes_div.show_notes{
  flex-grow: 1;
  width: 35%;
}

#notes_div > .note {
  min-width: 0%;
  transition: width 200ms cubic-bezier(0.075, 0.82, 0.165, 1), padding 200ms cubic-bezier(0.075, 0.82, 0.165, 1), background-color 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
  background-color: var(--color_back_2B);
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 0px;
}

#notes_div.show_notes > .note {
  width: 100%;
  padding: 5px;
  border: solid 1px var(--color_accent_2);
  border-radius: var(--general_border_radius);
  transition: border 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

#content_main > div {
  display: flex;
  flex-direction: column;
  gap: var(--general_gap);
  padding: var(--width_padding);
  flex-grow: 2;
  transition: background-color 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
#content_main > div.hidden {
  display: none;
}

.settings_div{
  position: absolute;
  display: flex;
  right: -200px;
  top: 75px;
  flex-direction: column;
  background-color: var(--color_accent_2);
  padding: var(--padding);
  color: var(--color_back_1);
  border-radius: var(--general_border_radius);
  z-index: 10;
  transition: right 350ms cubic-bezier(0.075, 0.82, 0.165, 1), color 500ms cubic-bezier(0.075, 0.82, 0.165, 1), background-color 500ms cubic-bezier(0.075, 0.82, 0.165, 1);;
  gap: var(--general_gap);
}
.settings_div.show_settings{
  right: 20px;
}

.settings_div > input {
  border-radius: var(--general_border_radius);
  border: solid var(--color_back_1);
  color: var(--color_back_1);
}

.patch_response{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -51px;
  left: auto;
  background-color: var(--color_back_1);
  border-radius: var(--general_border_radius);
  padding: var(--width_padding);
  border: var(--color_accent_2) solid 1px;
  transition: top 350ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.patch_response.display_response{
  top: 20px;
}

#content_footer {
  flex-basis: var(--content_footer_height);

  border-bottom-left-radius: var(--general_border_radius);
  border-bottom-right-radius: var(--general_border_radius);
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color_accent_0);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--color_accent_1);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--color_overlay_dark);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}