html{
  scroll-behavior: smooth
}

body {
  margin: 0;
  background-color: var(--color_back_2);
  color: var(--color_accent_2);

  overflow: hidden;
  height: 100vh;
}

#wrapper {
  --padding: var(--wrapper_pad);
  position: relative; /* Modal, Editor Origin */

  padding: var(--padding);
  display: flex;
  flex-direction: column;

  height: 100vh;
  overflow: scroll;
}

#content {
  --width_padding: 15px;
  display: flex;
  gap: var(--general_gap);
  flex-direction: column;
}
#content > * {
  background-color: var(--color_back_1);
  padding-left: var(--width_padding);
  padding-right: var(--width_padding);
}

#content_header {
  flex-basis: var(--content_header_height);

  border-top-left-radius: var(--general_border_radius);
  border-top-right-radius: var(--general_border_radius);

  display: flex;
  align-items: center;
}

#content_main > div {
  display: flex;
  flex-direction: column;
  gap: var(--general_gap);
  padding: var(--width_padding);
}
#content_main > div.hidden {
  display: none;
}

#content_footer {
  flex-basis: var(--content_footer_height);

  border-bottom-left-radius: var(--general_border_radius);
  border-bottom-right-radius: var(--general_border_radius);
}

#mode{
  height: 50px;
  width: 50px;
  right: 5px;
  background-color: var(--color_back_1);
  border: 10px solid var(--color_back_1);
}

#modeswitch{
  height: 100%;
  width: 100%;
  background-size: contain;

}

#user_settings{
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: var(--color_back_0);
  position:relative;
}

#user_settings_wrapper{
  width: 215px;
  height: 155px;
  background-color: var(--color_back_0);
  z-index: 100;
  position: relative;
  right: 150px;
  top: 55px;
  border-radius: var(--general_border_radius);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
#user_settings_wrapper.hidden{
  display: none;
  opacity: 0;
}

#user_settings_wrapper .settings_exit{
  display: flex;
  justify-content: center;
  width: 20px;
  position: relative;
  right: -188px;
  top: -7px;
  height: 26px;
  }

#user_settings_wrapper form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: var(--general_gap);
  margin: 0px 25px;
}
#user_settings_wrapper input{
  background-color: var(--color_back_2);
  border-radius: var(--general_border_radius);
  height: 30px;
}