.light {
    --color_accent_1_overlay: rgba(174,174,174,.5);
    --color_overlay_dark: rgba(30,30,30,.8);
    --color_overlay_light: rgba(230,230,230,.8);
    
    --color_back_0: #a8c2c6; /*#9cacae;*/
    --color_back_1: #d4d5d9; /*#c5c7cc; */
    --color_back_2: #ddd; /* #acb7b6; */
    --color_back_2B: #eee; /* #acb7b6; */
    --color_accent_0: #838380;
    --color_accent_1: #434a4a;
    --color_accent_2: #303839;
    --color_accent_question: #b68904;
    --color_accent_completed_unit: #bece99; /* #97a871; */ /* #7a963b; */
    --color_accent_completed_general: #73a600; /* #97a871; /* #7a963b; */
    --color_accent_incorrect: #dd99b4; /* #901e4a; */
    --color_accent_quiz: #11aab5;
    --color_accent_correct: #334208;
}