#modal_wrapper.hidden {
    display: none;
    opacity: 0;
}

#modal_list{
    position: absolute;
    top: 0;
    height:100vh;
    display: flex;
    background-color: var(--color_overlay_light);
    z-index: 30;
}

#modal_list ul{
    display:flex;
    position:relative;
    transition: right 0.2s ease-out 0s;
}

/* SHIFT UNIT BUTTONS */
#modal_list .shift{
    position:absolute;
    top: 50%;
    z-index: 10;
    width: 70px;
    height: 70px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
}

#modal_list .shift.rightModul {left: 94vw;}
#modal_list .shift.leftModul {left: 1vw;}

.btnError{opacity: 0.5; pointer-events: none;}
.btnError:hover{
    background-color: var(--color_accent_1);
    border-color: var(--color_accent_2);
    cursor: default;
}