#modal_list li{
  top: 5%;

  background-color: var(--color_back_1);
  box-shadow: 0 0 5px var(--color_accent_1);
  display: flex;
  gap: 10px;
  height: 90%;

  padding: 1vh;

  border-radius: var(--general_border_radius);
}

#modal_list li.hidden{
  display: none;
  opacity: 0;
}

#modal_list li.modalMiddle{
  position: relative;
  left:4vh;
  right: 0vw;
  background-color: aqua;
  width: 95%;
  z-index: 30;
  opacity: .5;
}
/*denna är höger till vänster*/
#modal_list li.modalMiddle.toRight{transition: left .5s ease-out 0.1s;}
#modal_list li.modalMiddle.toLeft{transition: left .5s ease-out 0.1s;}


#modal_list li.modalLeft{
  position: absolute;
  left: 100vw;
  right: -100vw;
  background-color: greenyellow;
  width: 95%;
}


#modal_list li.modalLeft.toRight{transition: right .5s ease-out 0.1s;}
#modal_list li.modalLeft.toLeft{transition: left .5s ease-out 0.1s;}


#modal_list li.modalRight{
  position: absolute;
  right: 100vw;
  left: -100vw;
  background-color: purple;
  width: 95%;
}


#modal_list li.modalRight.toRight{transition: left .5s ease-out 0.1s;}
#modal_list li.modalRight.toLeft{transition: right .5s ease-out 0.1s;}


#modal_list li .right, #modal_list li .left {
  display: flex;
  flex-direction: column;
  position: relative;
}

#modal_list li .left {
  flex-basis: 65%;
  gap: 10px;
  overflow: scroll;
}

#modal_list li .right {
  flex-grow: 1;
  gap: 20px;
}

#modal_list * {
  font-size: var(--fsz_course_list);
}

/* CLOSE */
/* NAME */
#modal_list .name h2 {
  font-size: var(--fsz_modal_unit_h2);
  padding: 2px 5px;
  border-radius: var(--button_border_radius);
}
#modal_list li .name {
  display: flex;
  gap: 20px;
}


/* VIDEOS */
#modal_list .videos.large {
  flex-grow: 1;
}
#modal_list .videos iframe {
  width: 100%;
  height: 100%;
}


/* CHECKS */
#modal_list .checks {
  --color_back: transparent;
  --color_border: var(--color_accent_1);
  --color_text: var(--color_accent_1);
  --internal_margin: 3px;
  --border_radius: var(--general_border_radius);;
  
  position: relative;
  background-color: var(--color_back);

  padding: var(--internal_margin);
  border-radius: var(--border_radius);

  border: 1px solid var(--color_border);
}
#modal_list .checks .checks_container * {
  font-size: var(--fsz_section_item);
}

#modal_list .checks > li {
  --padding: 5px;
  height: 100%;
  padding: var(--padding);
  border-radius: var(--border_radius);

  display: flex;
  flex-direction: column;
  gap: 3px;
}
#modal_list .checks .check_holder {
  display: flex;
  align-items: baseline;
  gap: 5px;
}
#modal_list .checks .question_mark {
  z-index: var(z_index_question_modal);
}
#modal_list .checks.status_complete {
  --color_border: var(--color_accent_completed_general);
  --color_back: var(--color_accent_completed_general);
  --color_text: var(--color_accent_1);
}
#modal_list .checks.status_question .question_mark {
  opacity: 1;
  /* --color_border: var(--color_accent_question); */
}

#modal_list .checks * {
  color: var(--color_text);
}



/* NOTES */
#modal_list .notes {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  gap: 5px;

  position: relative;
}

#modal_list .notes .notes_top {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

#modal_list .notes textarea {
  width: 100%;
  flex-grow: 1;
}

#modal_list .notes .saver {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 10px;

  /* position: absolute;
  bottom: 1rem;
  left: 5%;
  width: 90%; */

  /* background-color: ; */
}
#modal_list .notes .saver * {
  font-size: 1rem;
}


/* FOLDER */
#modal_list .folder {
  padding: 5px;
  border: 1px solid var(--color_accent_1)
}
#modal_list .folder.large {
  flex-grow: 1.5;
}
#modal_list .folder iframe {
  width: 100%;
  height: 100%;
}

/* NEXT UNIT BUTTONS */
#modal_list .shift{
  position:absolute;
  top: 50%;
  z-index: 10;
  width: 70px;
  height: 70px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
}

.right .shift.rightModul {left: 29vw;}
.left .shift.leftModul {right:57vw;}

.btnError{opacity: 0.5; pointer-events: none;}
.btnError:hover{
  background-color: var(--color_accent_1);
  border-color: var(--color_accent_2);
  cursor: default;
}