#containerSettings {
    position: relative;
    display: flex;
}

.user_info {
    width: 100%;
}

.user_name {
    text-align: center;
    width: 100%;
}

.settingsDiv {
    position: absolute;
    right: 0;
    top: calc(100% + .50rem);
    background-color: #fff;
    width: 20vw;
    z-index: 100;
    height: 0px;
    min-width: 250px;
    transition: height 0.5s ease-in-out;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.settingsDiv > div {
    padding: 10px;
    display: flex;
    opacity: 0;
    justify-content: space-around;
    transition: opacity 1s ease-in;
    flex-wrap: wrap;
}

#containerSettings.expanded > .settingsDiv > div {
    opacity: 1;
}

.settingsDiv > div > input {
    flex-grow: 1;
    border-bottom: 1px solid gray;
}

.settingsDiv > div > label {
    margin-right: 10px;
    width: 80px;
}

.cancelSet{
    cursor: pointer;
    border: 1px solid var(--color_accent_2);
    padding: 2px 10px;
    border-radius: var(--button_border_radius);
    background-color: var(--color_accent_1);
    color: var(--color_back_1);
    font-size: var(--fsz_button_default);
    transition: background-color 500ms ease-in-out;
}

.cancelSet:hover {
    background-color: var(--color_accent_0);
    border-color: var(--color_accent_0);
}

.pwErrorOld, .pwErrorNew{
    display: hidden;
    width: 100%;
    text-align: center;
    margin-top: 5px;
    color: green;
    color: red;
}

.pwErrorOld.error, .pwErrorNew.error{
    display: block;
}